.flex {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.project {
  display: flex;
  justify-items: center;
}

.project > img {
  margin-left: 4px;
}

.project-list {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  margin-left: 24px;
  font-size: small;
}

.programming {
  margin-left: 24px;
}